<footer>
    <div>
        <a href=<%= Routes.ABOUT %>>Tentang Kami</a>
        <a href=<%= Routes.TERMS_OF_SERVICE %>>Ketentuan Layanan</a>
        <a href=<%= Routes.CUSTOMER_SUPPORT %>>Dukungan Pelanggan</a>
    </div>
    <div>
        <p>© AwpticGH:2023</p>
    </div>
</footer>