<!-- KONTEN -->
<div class="konten" onclick="closeDrop();">
    <h3>Komik Saya</h3>
    <div class="atas">
        <p>Urut berdasarkan</p>
        <select>
            <option value="">Rangking</option>
            <option value="">Nama</option>
        </select>
    </div>
    <div class="isi">
        <div class="cover1">
            <div>
                <a href="<%= Routes.COLLECTION_DETAIL_DUMMY %>">
                    <img src="/img/si juki- cari kerja118.jpg" alt="cover">
                    <div>
                        <p class="judul">Si Juki</p>
                        <p class="episode">Episode 179</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="cover1">
            <div>
                <a href="<%= Routes.COLLECTION_DETAIL_DUMMY %>">
                    <img src="/img/si juki-keroyokan118.jpg" alt="cover">
                    <div>
                        <p class="judul">Si Juki</p>
                        <p class="episode">Episode 178</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>