<!-- conten -->
<div class="konten">
    <form id="formEmail">
        <h1>DAFTAR</h1> <br>
        <input onkeyup="validasi();" type="email" placeholder="Masukkan email anda..." id="myemail" name="email"><br>
        <p style="display:none;color:red;" id="email">*masukan email</p>
        <button id="submit" onclick="lanjut();">Lanjutkan</button>
    </form>
</div>