<!-- conten -->
<div class="konten">
    <form id="formEmail" action="<%= Routes.REGISTER_2 %>" method="get">
        <h1>DAFTAR</h1> <br>
        <input onkeyup="validasi();" type="email" placeholder="Masukkan email anda..." id="myemail" name="<%= WebVariables.EMAIL %>"><br>
        <p style="display:none;color:red;" id="email">*masukan email</p>
        <button id="submit">Lanjutkan</button>
    </form>
</div>