<div class="kontenn">
    <%
    let length = api_data.images.length;
    for (let i = 0; i < length; i++) {
    %>
        <img src="<%= api_data.images[i] %>" alt="<%= `Gambar ${i + 1}` %>">
    <% } %>
</div>
<button id="dark-mode"style="cursor: pointer; border-radius: 50%; background:#ccc;width: 40px; height: 40px; position: fixed; bottom: 20px; right:20px;" type="button" name="dark_light" title="Toggle dark/light mode">🌛</button>