<div class="kontenn">
    <img src="/public/img/komik/pg1.jpg" alt="">
    <img src="/public/img/komik/pg2.jpg" alt="">
    <img src="/public/img/komik/pg3.jpg" alt="">
    <img src="/public/img/komik/pg4.jpg" alt="">
    <img src="/public/img/komik/pg5.jpg" alt="">
</div>
<button id="dark-mode"style="cursor: pointer; border-radius: 50%; background:#ccc;width: 40px; height: 40px; position: fixed; bottom: 20px; right:20px;" type="button" name="dark_light" title="Toggle dark/light mode">🌛</button>