<!-- KONTEN -->

<div class="konten">
    <p>Dukungan Pelanggan: kritik, saran, masukan dan pertanyaan...</p>
    <br>
    <form action="">
        <input type="email" placeholder="   masukan Email"><br>
        <br>
        <textarea name="name" placeholder="kritik, saran, masukan dan pertanyaan"></textarea>
        <br><button type="button" name="button">kirim</button>
    </form>
</div>